.ItemDetail{
    width: 400px;
    height: 750px;
    background-color: rgb(46, 46, 46);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    border-radius: 20px;

    -webkit-box-shadow: 0 0 25px rgb(0, 0, 0);
    box-shadow: 0 0 25px rgb(0, 0, 0);
    
    transition: 0.2s;
    --hover: #ffffff;

    margin-left: 39%;
    margin-top: 50px;
}

.ItemDetail:hover,
.ItemDetail:focus {
    box-shadow: 0 0 25px var(--hover);
    transform: translateY(-2.25em);
    transition-duration: 200ms;
}

.ItemDetail img{
    width: 100%;
    height: 270px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.ItemDetail .imagen{
    width: 100%;
    height: 270px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.imagen{
    width: 100%;
    height: 270px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*RAISE*/
.boton_detalle:hover,
.boton_detalle:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  box-shadow: 0 0 5px var(--hover);
  transform: translateY(-0.25em);
  transition-duration: 200ms;
}

.boton_detalle {
    --color: white;
    --hover: white;
    /* background-color: #185dbe; */
    border-radius: 20px;
}