.Continentes_Container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap: 20px;
}

.Continente{
    width: 600px;
    height: 300px;

    color: white;

    border-radius: 20px;
    -webkit-box-shadow: 0 0 25px rgb(0, 0, 0);
    box-shadow: 0 0 25px rgb(0, 0, 0);    
    background-image: imagen_cont;
    background-size: cover;
    background-position: center;

    transition: 0.2s;
    --hover: #ffffff;
}

.Continente:hover,
.Continente:focus {
    /* box-shadow: 0 0.5em 0.5em -0.4em var(--hover); */
    box-shadow: 0 0 25px var(--hover);
    transform: translateY(-0.50em);
    transition-duration: 200ms;
}


.Continente h1{
    font-size: 50px;
    text-shadow: 3px 3px gray;

    padding: 70px 0;
    
}