.GaleriaContinentes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;
    align-items: center;
    grid-gap: 100px;
}
.cont_link{
    text-decoration: none;
}

@media (max-width: 1300px) {
    .GaleriaContinentes{
        grid-template-columns: repeat(1, 1fr);
    }
  }