.titulo{
    color: red;
    font-size: 70px;
}
.Header2{
    background-color: rgb(56, 56, 56);
    height: 80px;
    width: 80%;
    display: flex;
    justify-content:space-evenly;
    z-index: 10;
    margin-top: 20px;

    border-radius: 50px;
    -webkit-box-shadow: 0 0 25px rgb(0, 0, 0);
    box-shadow: 0 0 25px rgb(0, 0, 0);    
    background-image: imagen_cont;
    background-size: cover;
    background-position: center;

    transition: 0.2s;
    --hover: #ffffff;
}


.imagen_logo:hover,
.imagen_logo:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  box-shadow: 0 0 5px var(--hover);
  transform: translateY(0.25em);
  transition-duration: 600ms;
  background-color: rgb(35, 35, 35);
}
.imagen_logo {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-size: 50px;
    transition-duration: 600ms;
    --color: white;
    --hover: white;
    border-radius: 20px;
}

.contacto_logo:hover,
.contacto_logo:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  box-shadow: 0 0 5px var(--hover);
  transform: translateY(0.25em);
  transition-duration: 600ms;
  background-color: rgb(35, 35, 35);
}
.contacto_logo {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-size: 50px;
    transition-duration: 600ms;
    --color: white;
    --hover: white;
    border-radius: 20px;
    font-size: 39px;
}



.menu{
    display: flex;
    align-items: center;
    margin-right: -24px;
    flex-direction: row;
}
.menu li a{
    font-size: 30px;
}
@media screen and (max-width: 768px) {
    .menu{
        display: none;
    }
}
.menu_li{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.listas{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.boton{
    display: flex;
    align-items: center;
    margin-right: 24px;
    text-decoration: none;
}
@media screen and (max-width: 768px) {
    .boton{
        display: none;
    }
}
.isActive{
    text-decoration: none;
}
.boton2{
    border-radius: 4px;
    background: #256ce1;
    padding: 10px 22px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    margin-left: 24px;
}
.boton2:hover{
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: black;
}
.boton3{
    text-decoration: none;
    color: white;
}
.barras{
    display: none;
    color: #fff;
}
@media screen and (max-width: 768px) {
    .barras{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 75%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}
ul{
    display: inline-block;

    list-style: none;
    list-style-type: none;
    color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
li{
    float: left;
}
li a{
    color: white;
    font-style: none;
    font-size: 40px;

    text-decoration: none;

    display: block;
    color: white;
    text-align: center;
    padding: 16px;
}
li a:hover{
    background-color: #55555873;
    border-radius: 20px;
}