.products{
    width: 400px;
    height: 800px;
    background-color: rgb(46, 46, 46);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content:space-between;
    border-radius: 20px;

    -webkit-box-shadow: 0 0 25px rgb(0, 0, 0);
    box-shadow: 0 0 25px rgb(0, 0, 0);
    
    transition: 0.2s;
    --hover: #ffffff;
}

.products:hover,
.products:focus {
    box-shadow: 0 0 25px var(--hover);
    transform: translateY(-2.25em);
    transition-duration: 200ms;
}

.products img{
    width: 100%;
    height: 270px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}